#Prof__avatar {
    width: 115.552px;
    height: auto;
}

.Pages__center img {
    width: 200px;
    height: auto;
}

.bg1 {
    margin-bottom: 50px;
}

#p__profile {
    margin-bottom: 50px;
}

.Profile__button {
    width: 30%;
    margin: 0 auto;
}