.comment__list {
    margin-top: 50px;
    text-align: center;
}

.post__page__body {
    margin: 0 auto;
}

.btn__comment__post {
    margin: 0 auto;
    width: 30%;
}

.open__dialogtext {
    width: 600px;
}